<h3>
  <%= @contact[:name] %> has requested contact!
</h3>

<h5>
  Name:
</h5>
<p>
  <%= @contact[:name] %>
</p>

<h5>
  Email:
</h5>
<p>
  <%= @contact[:email] %>
</p>

<h5>
  Message:
</h5>
<q>
  <%= @contact[:message] %>
</q>

